.wrapper {
  position: relative;
  display: flex;
  min-width: 340px;
  padding: 20px 0;
  border-top: 1px solid #E4E4E4;
  &:first-child {
    border-top: none;
    padding-top: 0;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.close {
  position: absolute;
  top: 20px;
  right: 0;
  width: 10px;
  height: 10px;
  background-image: url("/images/close-cart-item.svg");
  cursor: pointer;
}

.content {
  margin-left: 20px;
  color: #767676;
  width: 100%;
}

.image {
  width: 120px;
  height: auto;
}

.title {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 7px;
  color: #222;
}

.color {
  padding-bottom: 7px;
}

.size {
  padding-bottom: 7px;
}

.count {}

.countDecrease, .countIncrease {
  cursor: pointer;
}

.countDecrease {
  padding-right: 7px;
}

.countIncrease {
  padding-left: 7px;
}

.price {
  font-size: 18px;
  color: #222;
  font-weight: 500;
}
