.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.item {
  position: relative;
  margin-bottom: 28px;
}

.item:hover, .itemActive {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 70%;
    background-color: #222;
  }
}
