.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 37px;
}

.title {
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 40px;
}

.list {
  display: flex;
}

.item {
  margin-right: 25px;
}


.label {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.input {
  display: none;
  &:checked + .label:before,
  +.label:hover:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 28px;
    height: 28px;
    border: 2px solid #222;
    border-radius: 50%;
  }
}
