.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 16px;
  margin-bottom: 55px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.image {
  max-width: 100%;
  margin-bottom: 20px;
}

.category {
  color: #767676;
}

.like {
  width: 16px;
  height: 14px;
  background-image: url("/images/heart.svg");
  cursor: pointer;
}

.title {
  margin: 10px 0;
}

.price {
  font-weight: 500;
}

.oldPrice {
  text-decoration: line-through;
  color: #767676;
  margin-right: 14px;
}

.newPrice {
  color: #D6001C;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: 0;
  color: #fff;
  text-transform: uppercase;
}

.saleLabel {
  width: 70px;
  background-color: #f84147;
}

.discountLabel {
  background-color: #f84147;
}

.newLabel {
  background-color: #712bd4;
}

.popularLabel {
  width: 120px;
  background-color: #ffa900;
}


