.wrapper {
  padding-bottom: 100px;
}

.contentWrapper {
  display: flex;
}

.leftRow {
  flex-basis: 300px;
}

.rightRow {
  flex: 1;
}

.catalogTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// categories
.categories {
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
}

.categoriesItem {
  margin-right: 24px;
  font-size: 16px;
  text-transform: uppercase;
}

.active {
  border-bottom: 2px solid #222;
}
