.wrapper {
  margin: 50px 0;
}

.tabList {
  display: flex;
  flex-wrap: wrap;
}

.tabItem {
  flex-basis: 33.333%;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #767676;
  border-bottom: 2px solid #E4E4E4;
  padding-bottom: 10px;
  margin-bottom: 5px;

  &.active {
    border-bottom-color: #222;
    color: #222;
  }
}

@media (max-width: 800px) {
  .tabItem {
    flex-basis: 100%;
  }
}
