.wrapper {
  margin-top: 27px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 40px;
}

.item {
  margin-right: 15px;
  margin-bottom: 15px;
}

.input {
  display: none;
}

.label {
  width: 50px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E4E4E4;
  cursor: pointer;
  text-transform: uppercase;
}

.label:hover, .input:checked+.label {
  border-color: #222;
}
