.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.title {
  font-weight: 500;
  margin-right: 50px;
  text-transform: uppercase;
}

.list {
  display: flex;
  flex: 1;
}

.item {
  margin: 0 5px;
}

.label {
  padding: 8px 13px;
  font-size: 13px;
  text-transform: uppercase;
  border: 1px solid #E4E4E4;
  cursor: pointer;

  &:hover {
    border-color: #222;
  }
}

.input {
  display: none;
  &:checked + .label {
    border-color: #222;
  }
}

.sizeGuideLink {
  text-transform: uppercase;
  font-size: 13px;
  border-bottom: 2px solid #222;
}
