.wrapper {
  position: relative;
  cursor: pointer;
  margin-left: 45px;

  &:before {
    content: '';
    position: absolute;
    left: -15px;
    top: calc(50% - 5px);
    width: 14px;
    height: 10px;
    background-image: url("/images/filters.svg");
    background-color: transparent;
    border: none;
  }
}
