.wrapper {}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 25px;
  cursor: pointer;
}

.expand {
  width: 10px;
  height: 6px;
  background-repeat: no-repeat;
}

.opened {
  background-image: url("/images/expand-opened.svg");
}

.closed {
  background-image: url("/images/expand-closed.svg");
}

.body {
  transition: all .5s ease-in-out;
}

.bodyHidden {
  display: none;
}
