.wrapper {
  margin-bottom: 10px;
  text-transform: uppercase;
  display: flex;
}

.title {
  color: #767676;
  margin-right: 5px;
}

.list {
  display: flex;
}

.item {
  margin-right: 5px;
}

.link:hover {
  text-decoration: underline;
}
