.wrapper {
  display: flex;
  padding: 0 30px;
  border-left: 2px solid #e4e4e4;
  border-right: 2px solid #e4e4e4;
}

.title {

}

.list {
  display: flex;
}

.item {
  font-weight: 500;
  margin-left: 15px;
  cursor: pointer;
}

.itemActive {
  border-bottom: 2px solid #222;
}
