.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(34,34,34,.4);
  z-index: 998;
}

.popup {
  position: absolute;
  background: #FFF;
  box-shadow: 0px 10px 25px rgba(34, 34, 34, 0.05);
  border-radius: 4px;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right {
  top: 0;
  right: 0;
  bottom: 0;
}

.fullscreen {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 33px 40px;
  background-color: #FAF9F8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.close {
  margin-left: 25px;
  width: 16px;
  height: 16px;
  background-image: url("/images/close.svg");
  cursor: pointer;
}

.body {
  padding: 40px;
}
