.form {}

.input {
  position: relative;
  min-width: 340px;
  margin-top: 30px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 30px;
}
