.input {
  width: 100%;
  border: 2px solid #E4E4E4;
  padding: 13px;
  box-sizing: border-box;

  &::placeholder {
    color: #767676;
  }

  &:hover {
    border-color: #222;
  }

  &:focus {
    &::placeholder {
      color: transparent;
    }

    +.label {
      display: block;
    }
  }
}

.label {
  display: none;
  position: absolute;
  top: -15px;
  left: 10px;
  padding: 4px;
  background-color: #fff;
  color: #222;
}

.block {
  display: block;
}

.errorMessage {}
