.wrapper {}

.title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.input {
  display: none;
}

.label {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 23px;
  margin-bottom: 23px;
  border-radius: 50%;
  cursor: pointer;
}

.label:hover:after, .input:checked+.label:after {
  box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -6px;
  margin-left: -6px;
  width: 28px;
  height: 28px;
  border: 2px solid #222;
  border-radius: 50%;
}
