.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: calc(100vh - 150px);
  padding-bottom: 40px;
}

.list {
  overflow-y: scroll;
  max-height: 550px;
  padding-right: 22px;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #E4E4E4;
    border-radius: 2px;
  }
}

.subtotal {
  margin-top: 50px;
  border-top: 1px solid #E4E4E4;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 500;
}

.viewCartBtn {
  margin: 20px 0;
}
