.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 99;
}

.headerInner {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 80px;
  margin-right: 56px;
  cursor: pointer;
}

.menu {
  flex: 1;
}

.menuLink {
  text-transform: uppercase;
  margin: 0 18px;
  padding-bottom: 5px;
  font-weight: 500;
}

.menuLinkActive {
  border-bottom: 2px solid #222;
}

.language {
  margin-right: 15px;
}

.currency {
  margin-right: 30px;
}

.search {
  width: 20px;
  height: 20px;
  background-image: url("/images/search.svg");
  background-size: cover;
}

.user {
  margin-left: 30px;
  width: 20px;
  height: 20px;
  background-image: url("/images/user.svg");
  background-size: cover;
}

.ordersLink {
  margin-left: 30px;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("/images/orders.svg");
}

.favorite {
  width: 20px;
  height: 20px;
  margin-left: 30px;
  background-image: url("/images/favorite.svg");
  background-size: cover;
}

.cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  width: 20px;
  height: 20px;
  background-image: url("/images/cart.svg");
  background-size: cover;
}

.cartCount {
  position: absolute;
  bottom: -8px;
  right: -6px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  background-color: #b9a16b;
  border-radius: 50%;
}

.burger {
  margin-left: 30px;
  width: 25px;
  height: 18px;
  background-image: url("/images/burger.svg");
  background-size: cover;
}
