.wrapper {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.count {
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}

.progressLine {
  position: relative;
  height: 6px;
  border-radius: 3px;
  background-color: #e4e4e4;
}

.progressLineLoaded {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 13.8%;
  background-color: #222;
  border-radius: 3px;
}

.moreButton {
  margin-top: 14px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 8px;
  border-bottom: 2px solid #222;
}
