.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.block {
  width: 100%;
}

.contained {
  border: none;
  color: #fff;

  &.primary {
    background-color: #222;
  }

  &.secondary {
    background-color: #E4E4E4;
    color: #222;
  }

  &.info {
    background-color: #767676;
  }

  &.success {
    background-color: #B9A16B;
  }

  &.danger {
    background-color: #C32929;
  }
}

.outlined {
  border-size: 1px;
  border-style: solid;
  background-color: #fff;
  &.primary {
    border-color: #222;
    color: #222;
  }

  &.secondary {
    border-color: #E4E4E4;
    color: #222;
  }

  &.info {
    border-color: #767676;
    color: #767676;
  }

  &.success {
    border-color: #B9A16B;
    color: #B9A16B;
  }

  &.danger {
    border-color: #C32929;
    color: #C32929;
  }
}

.middle {
  height: 60px;
  padding: 0 50px;
}


