.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 40px;
}

.col2 {
  flex-basis: 50%;
}

.col3 {
  flex-basis: calc(100% / 3);
}

.col4 {
  flex-basis: 25%;
}
