.label {
  position: relative;
  padding-left: 27px;
  cursor: pointer;
  color: #767676;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #E4E4E4;
    padding: 4px;
    background-color: #fff;
    box-sizing: border-box;
  }
}

.input {
  display: none;
  &:checked + .label {
    color: #222;
  }
  &:checked + .label:before {
    border-color: #222;
  }
  &:checked + .label:after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: #222;
  }
}
