.wrapper {
  margin-top: 50px;
  margin-bottom: 85px;
}

.content {
  margin-top: 40px;
}

.title {
  font-size: 26px;
  margin-bottom: 16px;
}

.price {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 40px;
}

.description {
  margin-bottom: 35px;
}

.shareAndWishList {
  margin: 35px 0;
  display: flex;
  align-items: flex-start;
}

.addToWishList {
  position: relative;
  padding-bottom: 10px;
  display: flex;
  align-items: center;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: #222;
  }
}

.wishListIcon {
  display: block;
  width: 16px;
  height: 14px;
  margin-right: 10px;
  background-image: url("/images/add-to-wishlist.svg");
}

.wishListTitle {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
}

.share {
  margin-left: 33px;
  display: flex;
  align-items: center;
}

.shareIcon {
  display: block;
  width: 16px;
  height: 18px;
  margin-right: 10px;
  background-image: url("/images/share.svg");
}

.shareTitle {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
}

// sku
.sku {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 13px;
}

.skuTitle {
  color: #767676;
  margin-right: 5px;
}
