.wrapper {}

.link {
  text-decoration: underline;
}

.createAccount {
  margin-top: 30px;
  text-align: center;
}

.createAccountText {
  color: #767676;
  padding-right: 5px;
}

.createAccountLink {
  text-decoration: underline;
}
