.wrapper {
  margin-top: 90px;
}

.pageTitle {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.productList {
  margin: 50px 58px 32px 0;
  max-width: 700px;
}

.productItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #E4E4E4;
}

.productBody {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.productImage {
  width: 100px;
  height: auto;
  margin-right: 25px;
}

.productTitle {
  font-size: 16px;
}

.quantity {

}

.subTotal {
  display: block;
  margin: 0 100px 0 60px;
  font-size: 16px;
  font-weight: 500;
}

.removeProduct {
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("/images/close-cart-item.svg");
}

.total {
  display: flex;
  align-items: center;
}

.totalText {
  font-size: 18px;
  color: #767676;
  margin-right: 25px;
}

.totalData {
  font-size: 24px;
  font-weight: 500;
  color: #222;
}
