.wrapper {
}

.miniatures {
  display: flex;
  flex-wrap: wrap;
}

.miniatureItem {
  max-width: 90px;
}

.miniatureImage {
  max-width: 100%;
  cursor: pointer;

  &.selected {
    opacity: .5;
  }
}

.bigImageWrapper {
}

.bigImage {
  max-width: 100%;
}
