.wrapper {
  padding-top: 100px;
  padding-bottom: 25px;
  background-color: #e4e4e4;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.leftRow {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 150px;
  height: auto;
}

.contacts {
  font-weight: 500;
  line-height: 24px;
  margin-top: 45px;
}

.social {
  margin-top: 45px;
  display: flex;
  align-items: center;
}

.socialIcon {
  display: block;
  margin-right: 36px;
  background-repeat: no-repeat;
  background-position: center;
}

.facebook {
  width: 8px;
  height: 16px;
  background-image: url("/images/facebook.svg");
}

.instagram {
  width: 13px;
  height: 16px;
  background-image: url("/images/instagram.svg");
}
