.wrapper {
  display: flex;
  padding-top: 13px;
}

.item {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 13px;
  border-radius: 50%;
  cursor: pointer;
}

.item:hover:before, .itemActive:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border: 2px solid #222;
  border-radius: 50%;
}
